.cooked,
.d-editor-preview {
  [data-wrap=highlight] {
    background-color: var(--highlight-medium);
    border-radius: 3px;
    width: fit-content;
    outline: 2px solid var(--highlight-medium);
  }
}
